*{
    margin:0;
    padding:0;
}

/*******************Inicio nav /*******************/
body{
    background-color: rgba(250, 223, 195, 0.342);
    font: 12px "Lucida Grande", "Licida Sans Unicode",Arial,sans-serif;
}

header{

    height: 200px;
    background-image: url(../Imagens/fundo.png);
}

#EE{
   
    margin: auto;
    width: 1100px;
    position: relative;
    top: -150px;
}
#logo{
    margin-top: 12px;
}

nav{ 
    display: flex;
    justify-content: space-between;
}
li{
list-style: none;
}


#navegacao a{
    text-decoration: none;
    padding: 15px;
    float: left;
    color:rgb(166, 110, 17);
    font-size: 15px;  
}

#navegacao a:hover{
    color:white;

}
/*******************fim nav /*******************/

/*******************Inicio container /*******************/


#container2{

    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

#row1{
    width: 720px;

}

#row1 div{
    margin: 10px 0px;
    margin-left: 24px;
    width: 330px;
    float: left;
}

#row1 li{
    margin-left:10px ;
}
p{
    margin-top: 15px;

}

/*******************fim container /*******************/

/*******************inicio nav lateral /*******************/
aside{

    width: 350px;
    background-color: #ebe7dd;
}

#visita{
background-color: #cdc8b1;
padding: 10px 27px 27px;
margin-top: 10px;
}

.visita{

    color:#86521a;
    text-transform: uppercase;
    padding-bottom: 3px; 
    margin-bottom: 0px;
}

#submit{
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    margin-top: 0.5em;
}

#galeria a{
    display: block;
    background: url(../Imagens/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px;
    margin: 10px 0 0 20px;
}

#galeria img{

    margin: 2px 0 2px 0;
}

